.contenido1{
    padding: 50px;
    margin-left:10px;
    max-width: 80%;
    margin-right: 100px;
}

.contenido2{
    padding: 50px;
    margin-left:10px;
    max-width: 100%;
    margin-right: 100px;
}