<div class="ui card item">
    <div class="content">
        <div class="extra content">
            <div class="center aligned author">
                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/matt.jpg"> {{usuario}}
                <i class="angle down icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="header menu">
        <a style="color:black;" routerLink="/">Inicio</a>
    </div>
</div>
<div class="item">
    <div class="header">DashBoard</div>
    <div class="menu">
        <a class="item" routerLink="/youtube">
            Youtube
        </a>
    </div>
</div>
<div class="item">
    <div class="header">Documentos</div>
    <div class="menu">
        <a class="item" routerLink="/usuario">
            Usuarios
        </a>
    </div>
</div>